<p>A new user has registered: <%= @email %>!</p>

<p>festiGo just got a new user!</p>

<p>Details:</p>
<p>
  <ul>
    <li>Email: <%= @email %></li>
    <li>Phone Number: <%= @phone_number %></li>
    <li>Organization: <%= @organization %></li>
  </ul>
</p>

<p>You can confirm your account email through the link below:</p>


